{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-custom p-4 bg-white">
            <h3 class="text-center text-primary mb-4">Welcome Back 👋</h3>

            <form method="POST">
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </div>

                <button type="submit" class="btn btn-custom w-100">Login</button>
            </form>

            <p class="text-center mt-3">
                Don’t have account? <a href="/register">Register</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}